body{
  background-color:#CDE8F6;
  margin-left: 50px;
  margin-top: 20px;
}
img{
  border-radius: 50%;
  height: 200px;
  width: 200px;
}
h1{
  font-size: 37px;
  font-family: sans-serif;
  font-weight: bold;
}
p{
  font-size: 26px;
  font-family: serif;
  font-weight: bold;
}
h3{
  font-size: 30px;
  font-family: sans-serif;
  font-weight: bold;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-width: 5px;
  border-color: gray;
  width: 5%;
}
